<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sws="http://www.springframework.org/schema/web-services"
   xmlns:aop="http://www.springframework.org/schema/aop"
      xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	
	<sws:annotation-driven />
	<context:component-scan base-package="com.company.servicioweb" />
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<property name="url">
			<value>jdbc:oracle:thin:@127.0.0.1:1521</value>
		</property>
		<property name="username">
			<value>system</value>
		</property>
		<property name="password">
			<value>manager</value>
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="mappingResources">
			<list>
				<value>orm/RolUsuarios.hbm.xml</value>
				<value>orm/Usuarios.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>

	<bean id="SpringWebLogeoServicio"
		class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition"
		lazy-init="true">
		<property name="schemaCollection">
			<bean
				class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
				<property name="inline" value="true" />
				<property name="xsds">
					<list>
						<value>schemas/ServicioLogeo.xsd</value>
					</list>
				</property>
			</bean>
		</property>
		<property name="portTypeName" value="SpringWebLogeoServicio" />
		<property name="serviceName" value="SpringWebLogeoServicios" />
		<property name="locationUri" value="/endpoints" />
	</bean>

   <tx:annotation-driven transaction-manager="transactionManager"/>
    
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

	<!-- beans -->	


	<bean id="usuariosDao"	class="com.company.dao.UsuariosDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	 <bean id="logServicio"	class="com.company.servicio.LogServicioImpl">
		<property name="usuariosDao" ref="usuariosDao" />
	</bean>

</beans>